.availability {
    background-color: var(--darkgray-color);
    color: var(--white-color);
    font-family: var(--roboto-font);
    padding: 0 20px 0 20px;
    &__form {
        padding: 36px 0;
        &__label {
            display: block;
            margin-top: 30px;
            margin-bottom: 25px;
        }
        & img {
            position: absolute;
        }
        &__input {
            width: 100%;
            background-color: var(--darkgray-color);
            color: var(--gold-color);
            border: none;
            border-bottom: 2px solid var(--gold-color);
            padding-bottom: 10px;
            padding-left: 30px;
            font-size: 14px;
        }
        &__btn {
            background-color: var(--gold-color);
            color: var(--white-color);
            font-family: var(--archivo-font);
            font-size: 14px;
            letter-spacing: 3px;
            border: none;
            margin-top: 45px;
            padding: 23px 25px;
        }
    }
}