.about__us {
  margin-top: 60px;
  font-family: var(--archivo-font);
  color: var(--lightgray-color);
  &__container1 {
    background-color: var(--darkestwhite-color);
    padding: 38px 20px 175px 20px;
    &__p1 {
      font-size: 13px;
      letter-spacing: 3px;
      font-weight: 700;
    }
    &__p2 {
      font-family: var(--tt-font);
      color: var(--black-color);
      font-size: 56px;
      margin-top: 30px;
      letter-spacing: -1px;
    }
    &__p3 {
      font-size: 14px;
      line-height: 24px;
      margin-top: 16px;
    }
    &__btn {
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 3px;
      padding: 22px 57px;
      border: 2px solid var(--lightgray-color);
      background-color: var(--darkestwhite-color);
      color: var(--lightgray-color);
      margin-top: 24px;
      &:hover {
        color: var(--white-color);
        background-color: var(--gold-color);
        border: 2px solid var(--gold-color);
      }
    }
  }
  &__container2 {
    background-color: var(--white-color);
    padding: 50px;
    &__div {
      max-width: 300px;
      margin: 0 auto;
      &--img {
        height: 300px; /*********************************************************** REPLACE WITH PHOTO */
        background-color: var(--lightgray-color);
        margin-top: -170px;
      }
      &--info {
        background-image: url("../../../src/assets/icons/team-bg.png");
        background-repeat: no-repeat;
        background-position: right 50px;
        text-align: center;
        padding: 50px 35px 38px 35px;
        box-shadow: 0px 8px 16px rgba(34, 34, 34, 0.02);
      }
      &__p1 {
        font-family: var(--tt-font);
        font-size: 30px;
        margin-top: 29px;
        margin-bottom: 21px;
      }
      &__p2 {
        font-family: var(--roboto-font);
      }
    }
  }
}
