.navbar {
  position: relative;
  width: 100%;
  height: 70px;
  top: 0;
  background: var(--FFFFFF-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.29);
  &__burger {
    position: absolute;
    margin: 28px;
    width: 20px;
    height: 20px;
  }
  &__logo {
    &__bg {
      position: absolute;
      width: 36px;
      height: 36px;
      margin: 17px 72px;
      background: var(--FFFFFF-color);
      box-shadow: 0px 14px 24px rgba(139, 139, 139, 0.25);
      z-index: 2;
      &__h {
        padding: 11.5px;
      }
    }
    &__title {
      margin: 25px 122px;
    }
  }
  &__user {
    position: absolute;
    top: 23px;
    right: 68px;
  }
  &__search {
    position: absolute;
    top: 23px;
    right: 20px;
  }
  &__menu {
    position: absolute;
    width: 100%;
    background-color: var(--FFFFFF-color);
    z-index: 1;
    margin-top: -7px;
    &__li {
      list-style: none;
      color: var(--111111-color);
      margin: 22px;
    }
    &__a {
      text-decoration: none;
      font-family: var(--archivo-font);
    }
  }
}
@media only screen and (min-width: 1000px) {
  .navbar {
    background-color: var(--222222-color);
    &__bg {
      position: absolute;
      width: 100%;
    }
    &__bar {
      position: relative;
      background-color: var(--FFFFFF-color);
      padding: 5px;
      margin: 40px 100px;
    }
    &__burger {
      display: none;
    }
    &__logo {
      &__bg {
        position: absolute;
        width: 36px;
        height: 36px;
        margin: 17px 12px;
        background: var(--FFFFFF-color);
        box-shadow: 0px 14px 24px rgba(139, 139, 139, 0.25);
        z-index: 2;
        &__h {
          padding: 11.5px;
        }
      }
      &__title {
        position: absolute;
        top: 5px;
        left: 5px;
        margin: 25px 62px;
      }
    }
    &__user {
      top: 30px;
    }
    &__search {
      top: 30px;
    }
    &__menu {
      display: contents;
      &__ul {
        width: 100%;
        margin-left: 160px;
      }
      &__li {
        display: inline-block;
        padding: 5px;
        &--1 {
          margin-left: 260px;
        }
      }
    }
  }
}
