.welcome {
    background-color: var(--333333-color);
    &__container {
        max-width: 700px;
        margin: 0 auto;
        position: relative;
        color: var(--FFFFFF-color);
        padding: 20px 20px 50px 20px;
        &__p1 {
            width: 90%;
            font-family: var(--archivo-font);
            font-size: 13px;
            letter-spacing: 3px;
            line-height: 18px;
            padding: 55px 0 40px 0;
        }
        &__p2 {
            font-size: 54px;
            line-height: 60px;
            padding-bottom: 40px;
        }
        &__btn {
            padding: 22px 45px;
            margin: 0 24px 24px 0;
            font-family: var(--archivo-font);
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 3px;
            background-color: var(--333333-color);
            border: 2px solid var(--777777-color);
            color: var(--FFFFFF-color);
            &:hover {
                background-color: var(--BEAD8E-color);
                border: 2px solid var(--BEAD8E-color);
            }
        }
    }
}