.availability {
  background-color: var(--222222-color);
  color: var(--FFFFFF-color);
  font-family: var(--roboto-font);
  padding: 0 20px 0 20px;
  &__form {
    max-width: 600px;
    padding: 36px 0;
    margin: 0 auto;
    &__label {
      display: block;
      margin-top: 30px;
      margin-bottom: 25px;
    }
    & img {
      position: absolute;
    }
    &__input {
      width: 100%;
      background-color: var(--222222-color);
      color: var(--BEAD8E-color);
      border: none;
      border-bottom: 2px solid var(--BEAD8E-color);
      padding-bottom: 10px;
      padding-left: 30px;
      font-size: 14px;
    }
    &__btn {
      background-color: var(--222222-color);
      color: var(--FFFFFF-color);
      font-family: var(--archivo-font);
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 3px;
      border: 2px solid var(--777777-color);
      margin-top: 45px;
      padding: 23px 25px;
      &:hover {
        background-color: var(--BEAD8E-color);
        border: 2px solid var(--BEAD8E-color);
      }
    }
  }
}
