.rooms {
  max-width: 600px;
  margin: 0 auto;
  &__container1 {
    background-color: var(--white-color);
    color: var(--white-color);
    padding: 0 50px;
    &__div {
      max-width: 400px;
      margin: 0 auto;
      &--img {
        background-image: url(../../../src/assets/img/room-luxury.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 300px; /*********************************************************** REPLACE WITH PHOTO */
        background-color: var(--lightgray-color);
      }
      &--info {
        background-color: var(--darkgray-color);
        text-align: center;
        padding: 50px 35px 38px 35px;
        box-shadow: 0px 8px 16px rgba(34, 34, 34, 0.02);
      }
      &__p1 {
        font-family: var(--tt-font);
        font-size: 30px;
        margin-top: 29px;
        margin-bottom: 21px;
      }
      &__p2 {
        font-family: var(--roboto-font);
        font-size: 14px;
      }
    }
  }
  &__container2 {
    text-align: center;
    padding-top: 60px;
    &__p1 {
      font-family: var(--archivo-font);
      font-size: 14px;
      letter-spacing: 3px;
      padding-bottom: 24px;
    }
    &__p2 {
      color: var(--darkgray-color);
      font-size: 56px;
      margin-bottom: 24px;
    }
    &__slider {
      background-image: url(../../../src/assets/img/room-minimal.jpeg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-color: var(--lightgray-color);
      height: 240px;
      margin-top: -50px;
    }
    &__description {
      background-color: var(--white-color);
      padding: 19px 24px;
      margin: -20px 20px 30px 20px;
      &__p1 {
        font-size: 28px;
        letter-spacing: -1px;
        margin-bottom: 12px;
      }
      &__p2 {
        color: var(--lightgray-color);
        font-family: var(--roboto-font);
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 12px;
      }
      &__p3 {
        color: var(--gold-color);
        font-family: var(--archivo-font);
        font-weight: 700;
        font-size: 32px;
        &--mini {
          font-size: 13px;
        }
      }
    }
  }
  &__container3 {
    max-width: 600px;
    text-align: center;
    padding: 48px 20px 0 20px;
    margin: 0 auto;
    &__slider {
      background-image: url(../../../src/assets/img/room-minimal.jpeg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-color: var(--lg-gray-color);
      height: 240px;
    }
    &__description {
      background-color: var(--white-color);
      padding: 19px 24px;
      &__img {
        margin-top: -50px;
      }
      &__p1 {
        font-size: 28px;
        letter-spacing: -1px;
        margin-bottom: 12px;
      }
      &__p2 {
        color: var(--lightgray-color);
        font-family: var(--roboto-font);
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 12px;
      }
      &__p3 {
        color: var(--gold-color);
        font-family: var(--archivo-font);
        font-weight: 700;
        font-size: 16px;
        &__btn {
          margin-left: 20px;
          font-family: var(--archivo-font);
          font-size: 16px;
          font-weight: 700;
          border: none;
          background-color: var(--white-color);
          color: var(--lg-gray-color);
          &:hover {
            color: var(--gold-color);
            cursor: pointer;
          }
        }
      }
    }
  }
  &__pagination {
    margin: 50px auto;
  }
  &__container4 {
    max-width: 600px;
    padding: 20px;
    margin: 40px auto 0;
    &__p1 {
      color: var(--lightgray-color);
      font-family: var(--archivo-font);
      font-size: 14px;
      letter-spacing: 3px;
      margin-bottom: 3px;
    }
    &__p2 {
      font-size: 40px;
      line-height: 48px;
      letter-spacing: -1px;
      margin-bottom: 16px;
    }
    &__p3 {
      color: var(--gold-color);
      font-family: var(--archivo-font);
      font-weight: 700;
      font-size: 32px;
      margin-bottom: 16px;
    }
    &__slider {
      background-image: url(../../../src/assets/img/room-minimal.jpeg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-color: var(--lg-gray-color);
      height: 240px;
      margin-bottom: 14px;
    }
  }
  &__availability {
    position: relative;
    max-width: 600px;
    padding: 25px 40px;
    margin: 0 auto;
    text-align: center;
    &__p1 {
      font-family: var(--archivo-font);
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 35px;
    }
    &__label {
      display: block;
      text-align: left;
      font-family: var(--archivo-font);
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 13px;
    }
    &__input {
      width: 100%;
      padding: 23px 29px;
      font-family: var(--archivo-font);
      font-size: 14px;
      background-color: var(--darkwhite-color);
      margin-bottom: 19px;
      border: none;
    }
    & img {
      position: absolute;
      right: 70px;
      margin-top: 20px;
    }
    &__btn {
      padding: 22px 45px;
      margin-bottom: 4px;
      font-family: var(--archivo-font);
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 3px;
      background-color: var(--white-color);
      border: 2px solid var(--lightgray-color);
      color: var(--lightgray-color);
      &:hover {
        color: var(--white-color);
        background-color: var(--gold-color);
        border: 2px solid var(--gold-color);
      }
    }
  }
  &__text {
    padding: 20px;
    color: var(--lightgray-color);
    font-family: var(--roboto-font);
    font-size: 14px;
    line-height: 24px;
  }
  &__amenities {
    padding: 0 20px;
    &__img {
      height: 335px;
      background-image: url(../../../src/assets/img/amenities.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      margin: 40px auto 0;
    }
  }
  &__founder {
    text-align: center;
    padding: 0 25px 40px;
    margin: 60px auto;
    &__img {
      display: inline-block;
      height: 150px;
      width: 150px;
      background-image: url(../../../src/assets/img/founder.svg);
      background-repeat: no-repeat;
      background-position: center;
      margin-bottom: 38px;
      &__verified {
        margin-top: 5px;
        margin-left: 105px;
      }
    }
    &__p1 {
      font-size: 30px;
      letter-spacing: -1px;
      margin-bottom: 15px;
    }
    &__p2 {
      color: var(--gold-color);
      font-family: var(--archivo-font);
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 3px;
      margin-bottom: 25px;
    }
    &__p3 {
      color: var(--lightgray-color);
      font-family: var(--archivo-font);
      font-size: 16px;
      line-height: 24px;
    }
  }
  &__cancellation {
    padding: 20px;
    &__p1 {
      font-size: 30px;
      line-height: 30px;
      margin-bottom: 13px;
    }
    &__hr {
      border: 1px solid var(--darkwhite-color);
      margin-bottom: 32px;
    }
    &__p2 {
      color: var(--lightgray-color);
      font-family: var(--roboto-font);
      font-size: 16px;
      line-height: 24px;
    }
  }
  &__container5 {
    max-width: 600px;
    text-align: center;
    padding: 48px 20px 0 20px;
    margin: 0 auto 100px;
    &__p1 {
      font-size: 30px;
      line-height: 30px;
      margin-bottom: 13px;
    }
    &__hr {
      border: 1px solid var(--darkwhite-color);
      margin-bottom: 32px;
    }
    &__slider {
      background-image: url(../../../src/assets/img/room-minimal.jpeg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-color: var(--lg-gray-color);
      height: 240px;
    }
    &__description {
      background-color: var(--white-color);
      padding: 19px 24px;
      &__img {
        margin-top: -50px;
      }
      &__p1 {
        font-size: 28px;
        letter-spacing: -1px;
        margin-bottom: 12px;
      }
      &__p2 {
        color: var(--lightgray-color);
        font-family: var(--roboto-font);
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 12px;
      }
      &__p3 {
        color: var(--gold-color);
        font-family: var(--archivo-font);
        font-weight: 700;
        font-size: 16px;
        &__btn {
          margin-left: 20px;
          font-family: var(--archivo-font);
          font-size: 16px;
          font-weight: 700;
          border: none;
          background-color: var(--white-color);
          color: var(--lg-gray-color);
          &:hover {
            color: var(--gold-color);
            cursor: pointer;
          }
        }
      }
    }
  }
}
