.breadcrumb {
    display: inline-block;
    position: absolute;
    right: 20px;
    bottom: 0;
    background-color: var(--white-color);
    font-family: var(--archivo-font);
    font-size: 16px;
    font-weight: 700;
    padding: 16px 24px;
    & a {
        text-decoration: none;
        color: var(--black-color);
        &:hover {
            color: var(--gold-color);
        }
    }
    & span {
        margin: 0 5px;
        color: var(--black-color);
    }
    & p {
        color: var(--gold-color);
    }
}