@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&family=Old+Standard+TT:wght@400;700&family=Roboto:wght@400;700&display=swap");
* {
  /* border: 0.1px solid; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --archivo-font: "Archivo", sans-serif;
  --roboto-font: "Roboto", sans-serif;
  --tt-font: "Old Standard TT", serif;
  --white-color: #FFFFFF;
  --darkwhite-color: #F8F8F8;
  --darkestwhite-color: #F9F9F9;
  --black-color: #111111;
  --darkgray-color: #222222;
  --gray-color: #333333;
  --lightgray-color: #777777;
  --gold-color: #BEAD8E;
}

body {
  min-width: 320px;
  font-family: var(--tt-font);
}

.hidden {
  display: none;
}

.navbar {
  width: 100%;
  height: 70px;
  top: 0;
  background: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.29);
}

.navbar__burger {
  position: absolute;
  margin: 28px;
}

.navbar__close {
  position: absolute;
  width: 32px;
  height: 32px;
  margin: 20px;
}

.navbar__logo__bg {
  position: absolute;
  width: 36px;
  height: 36px;
  margin: 17px 72px;
  background: var(--white-color);
  box-shadow: 0px 14px 24px rgba(139, 139, 139, 0.25);
}

.navbar__logo__bg__h {
  padding: 11.5px;
}

.navbar__logo__title {
  margin: 25px 122px;
}

.navbar__user {
  position: absolute;
  top: 23px;
  right: 68px;
}

.navbar__search {
  position: absolute;
  top: 23px;
  right: 20px;
}

.navbar__menu {
  background-color: white;
}

.navbar__menu__li {
  list-style: none;
  color: var(--black-color);
  margin: 21px;
}

.navbar__menu__a {
  text-decoration: none;
  font-family: var(--archivo-font);
}

.welcome {
  background-color: var(--gray-color);
  color: var(--white-color);
  padding: 20px 20px 50px 20px;
}
.welcome__p1 {
  width: 90%;
  font-family: var(--archivo-font);
  font-size: 13px;
  letter-spacing: 3px;
  line-height: 18px;
  padding: 55px 0 40px 0;
}
.welcome__p2 {
  font-size: 54px;
  line-height: 60px;
  padding-bottom: 40px;
}
.welcome__btn {
  padding: 22px 45px;
  margin-bottom: 24px;
  font-family: var(--archivo-font);
  font-size: 14px;
  letter-spacing: 3px;
  background-color: var(--gray-color);
  border: 2px solid var(--lightgray-color);
  color: var(--white-color);
}
.welcome__btn--default {
  background-color: var(--gold-color);
  border: 2px solid var(--gold-color);
}

.availability {
  background-color: var(--darkgray-color);
  color: var(--white-color);
  font-family: var(--roboto-font);
  padding: 0 20px 0 20px;
}
.availability__form {
  padding: 36px 0;
}
.availability__form__label {
  display: block;
  margin-top: 30px;
  margin-bottom: 25px;
}
.availability__form img {
  position: absolute;
}
.availability__form__input {
  width: 100%;
  background-color: var(--darkgray-color);
  color: var(--gold-color);
  border: none;
  border-bottom: 2px solid var(--gold-color);
  padding-bottom: 10px;
  padding-left: 30px;
  font-size: 14px;
}
.availability__form__btn {
  background-color: var(--gold-color);
  color: var(--white-color);
  font-family: var(--archivo-font);
  font-size: 14px;
  letter-spacing: 3px;
  border: none;
  margin-top: 45px;
  padding: 23px 25px;
}

.about_us {
  margin-top: 60px;
  padding: 20px;
  background-color: var(--darkestwhite-color);
  font-family: var(--archivo-font);
  color: var(--lightgray-color);
}
.about_us__p1 {
  font-size: 13px;
  letter-spacing: 3px;
  font-weight: 700;
}
.about_us__p2 {
  font-family: var(--tt-font);
  color: var(--black-color);
  font-size: 56px;
  margin-top: 30px;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background-image: url(../../../../../src/assets/img/footer-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.footer__logo {
  width: 245px;
  height: 80px;
  margin-left: -20px;
  background-image: url(../../../../../src/assets/icons/logo-large.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.footer__description {
  margin-top: 47px;
}
.footer__social img {
  padding: 10px;
  margin-top: 30px;
  background-color: var(--darkwhite-color);
}
.footer__social img:hover {
  filter: brightness(110%);
  background-color: var(--gold-color);
}
.footer__title {
  font-size: 24px;
  margin-top: 30px;
  color: var(--darkgray-color);
}
.footer ul {
  min-width: 330px;
  max-width: 400px;
  -moz-columns: 2;
       columns: 2;
  font-family: var(--roboto-font);
  list-style: none;
  color: var(--lightgray-color);
  font-size: 16px;
  line-height: 48px;
  margin: 0 auto;
  margin-top: 24px;
}
.footer__contact {
  width: 200px;
  margin-top: 32px;
  margin-bottom: 30px;
}
.footer__contact img {
  position: absolute;
}
.footer__contact p {
  margin-left: 60px;
  line-height: 24px;
}
.footer__contact__p1 {
  color: var(--darkgray-color);
  font-size: 20px;
  right: 0;
}
.footer__contact__p2 {
  font-family: var(--roboto-font);
  color: var(--lightgray-color);
  font-size: 14px;
}
.footer__copyright {
  width: 100%;
  padding: 16px 20px;
  background-color: var(--darkwhite-color);
  font-family: var(--roboto-font);
  font-size: 16px;
  font-weight: 700;
}
.footer__copyright__p1 {
  margin-bottom: 24px;
}/*# sourceMappingURL=style.css.map */