@import "./scss/_00-variables";
@import "./scss/_01-navbar";
@import "./scss/_02-welcome";
@import "./scss/_03-availability";
@import "./scss/_04-about_us";
@import "./scss/_05-rooms";
@import "./scss/_06-video";
@import "./scss/_07-facilities";
@import "./scss/_08-menu";
@import "./scss/_09-counter";
@import "./scss/_10-footer";